{% extends "base.html" %}
{% block title %}Changement du mot de passe{% endblock %}
{% block content %}
<form method='POST'>
    {% if request.method == 'POST' %}
    <div class="alert alert-warning">
        Votre mot de passe n'a pas pu être changé &#9785;
    </div>
    {% endif %}
    <div class="mb-3">
      <label for="old_password" class="form-label">Mot de passe actuel</label>
      {{ form.old_password(id='old_password', class_ = 'form-control') }}
    </div>
    <div class="mb-3">
        <label for="new_password" class="form-label">Nouveau mot de passe</label>
        {{ form.new_password(id='new_password', class_ = 'form-control') }}
    </div>
    <div class="mb-3">
        <label for="password_confirm" class="form-label">Confirmation</label>
        {{ form.password_confirm(id='password_confirm', class_ = 'form-control') }}
    </div>
    <div class="mb-3">
        <div class="form-check">
            {{ form.totp_enabled(class_ = 'form-check-input') }}
            <label class="form-check-label">
                Activer la double authentification :
            </label>
        </div>
        <img width="200px" src="{{ qrcode(totp_uri) }}">
        <br><br>
    </div>
    <button type="submit" class="btn btn-primary">Changer de mot de passe</button>
    {{ form.csrf_token }}
</form>
{% endblock %}
