<!doctype html>
<html>
<head>
  <title>Title</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <span class="navbar-brand">Title</span>
            </div>
        </nav>
    </header>
    <main>
        <br><br>
        <div class="container">
            <p>Tempor ipsum excepteur tempor dolor et elit. Exercitation quis deserunt ut aliquip enim Lorem do magna. Aute sint magna veniam anim nulla. Nulla magna aliqua Lorem nulla nulla aliqua aliquip deserunt incididunt Lorem aliquip est irure proident. Dolor ipsum nisi nostrud labore officia nulla occaecat Lorem incididunt. Veniam exercitation fugiat et veniam Lorem Lorem sunt officia eiusmod laborum aute Lorem mollit occaecat. Quis anim laboris do ad occaecat.</p>

            <p>Ullamco laborum aute minim enim proident. Minim commodo ipsum do id aute commodo. Duis fugiat eu cupidatat Lorem consectetur mollit mollit officia fugiat. Proident tempor fugiat elit amet dolore elit excepteur irure quis quis. Culpa deserunt exercitation veniam commodo et occaecat culpa aliqua laboris sunt. Aliquip labore commodo laborum minim voluptate. Consequat laboris culpa do nostrud minim dolor non esse dolor mollit veniam ea dolore cillum.</p>
        </div>
    </main>
</body>