{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>id</th>
            <th>Panier</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
    {% for row in basket_list %}
        <!-- <tr class="{{ 'table-primary' if followed_team == row['id'] else ''}}"> -->
        <tr>
            <td>{{ row.id }}</td>
            <td><a href="/panier/{{row.id}}"> {{ row.title }}</a></td>
            <td>{{ row.information }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.creator }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
