<!doctype html>
<html>
    <head></head>
    <body>
        <table>
            <tr>
                <th>N°</th>
                <th>Équipe</th>
                <th>MJ</th>
                <th>G</th>
                <th>N</th>
                <th>P</th>
                <th>BP</th>
                <th>BC</th>
                <th>DB</th>
                <th>PTS</th>
            </tr>
            {% for row in ranking %}
            <tr>
                <td>{{ row.rank }}</td>
                <td><a href="/team/{{ row.team_id }}">{{ row.name }}</a></td>
                <td>{{ row.match_played_count }}</td>
                <td>{{ row.won_match_count }}</td>
                <td>{{ row.draw_count }}</td>
                <td>{{ row.lost_match_count }}</td>
                <td>{{ row.goal_for_count }}</td>
                <td>{{ row.goal_against_count }}</td>
                <td>{{ row.goal_difference }}</td>
                <td>{{ row.points }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>